{% extends "meditate/layout.html" %}

{% block title %}
    About Us | 
{% endblock %}

{% block body %}
    <h3 class="text-white">About Us</h3>
    <p class="bg-light bg-opacity-75 container">
        When we meditate, we inject far-reaching and long-lasting benefits into our lives.
        We lower our stress levels, we get to know our pain, we connect better, we improve our 
        focus, and we're kinder to ourselves. 
        <br>
        The idea behind mindfulness seems simple—the practice takes patience.<br>
        Here are five reasons to meditate:<br>
        * Understanding your pain<br>
        * Lower your stress<br>
        * Connect better<br>
        * Improve focus<br>
        * Reduce brain chatter<br><br>
        Our <b>mission</b> is to further the spiritual growth of our diverse community 
        as a living bridge between traditional Tibetan Buddhist teachings and curious people everywhere.<br>
        Our <b>vision</b> is to support every individual in the discovery, development, and expression of 
        their intrinsic, effortless wisdom and compassion.<br>
        We believe compassion is heartfelt kindness towards ourselves, all beings, and our
        shared environment.
        <br><br>
        We celebrate and explore our tradition through its lineage of kind guidance 
        and wisdom.<br>
        We have many meditation <b>programs</b> that helps you practice meditation in a group at the comfort of your home.<br>
        If you are a beginner and want to learn to meditate, we also provide a number of <b>courses</b> that you can complete at your own pace.
    </p>

{% endblock %}