{% extends "meditate/layout.html" %}

{% block title %}
    {{ course.title }} | 
{% endblock %}

{% block script %}
    <script>
        // Function for enroller count
        function enroller_count() {
            fetch('/enroll/{{ course.id }}')
            .then(response => response.json())
            .then(data => {
                document.querySelector('#enrollers').innerHTML = `Enrollers: ${data.enrollers}`;
            })
            .catch(error => {
                    console.log('Error', error);                 
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            
            enroller_count();

            const enroll_btn = document.querySelector('#enroll-btn');
            enroll_btn.onclick = () => {
                
                // Check whether the user has signed in
                const check = '{{request.user.is_authenticated}}'.toLowerCase();

                // If yes, then do the action
                if (check == 'true') {
                    fetch('/enroll/{{ course.id }}', {
                        method : 'PUT'
                    })
                    .then(response => response.json())
                    .then(data => {
                        enroll_btn.innerHTML = data.title;
                        enroller_count();
                    })
                    .catch(error => {
                        console.log('Error', error);                 
                    });
                }
                // If no, then redirect the user to login page
                else {
                    location.assign('/login');
                }
            }; 

        });
    </script>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-2">
            <div class="text-white col col-sm-6 col-lg-8 d-flex align-items-center justify-content-center">
                <h1>{{ course.title }}</h1>
            </div>
            <div class="col col-sm-6 col-lg-4 d-flex justify-content-end">
                <img src="{{ course.image }}" alt="Course image" class="img-fluid rounded" style="height:50vh;">
            </div>
        </div>
        <div class="bg-light bg-opacity-75 d-flex justify-content-start mt-3">
            <div class="p-3"><p id="enrollers"></p></div>
            <div class="p-3"><button id="enroll-btn" class="btn btn-success">{{ title }}</button></div>        
        </div>
        <div class="bg-light bg-opacity-75 p-3"> 
            <p>Duration: {{ course.duration }} hrs</p>
            <p>{{ course.subtitle }}</p>
            <p>{{ course.details|linebreaks }}</p> 
        </div>
    </div>
{% endblock %}