{% extends "meditate/layout.html" %}

{% block title %}
    Login | 
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">

        <div class="vw-50 mb-5 p-4 mt-3 border bg-light bg-opacity-10 shadow" style="height:65vh" >  
            <h2 class="text-center text-white">Login</h2>

            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-5">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>

            <p class="fw-bold text-white">Don't have an account? <a href="{% url 'register' %}" class="link-light">Register here.</a></p>
        </div>
    </div>
{% endblock %}